/*importando as cores*/
@import "cores.css";

* {
    margin: 0;

    font-family: monospace;
}

/*
O valor de 1rem é igual ao tamanho da fonte do elemento raiz (html), 
independentemente do tamanho da fonte dos elementos pai. Geralmente, 
o tamanho padrão da fonte do navegador é 16px. Isso significa que, 
por padrão, 1rem é igual a 16px.

Se a fonte raiz (html) for definida em 20px, então 1rem será igual a 20px. 
Se for definida como 12px, então 1rem será igual a 12px, e assim por diante.
*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.6rem 5rem 0.6rem 3rem;

    background-color: var(--cor-roxo-claro);
}

#logo {
    height: 4.2rem;
}

.a_header{
    font-size: 1.05rem;
    color: whitesmoke;
    font-weight: 700; 
    text-decoration: none;

    padding-left: 1.5rem;
}

.a_header:hover {
    text-decoration: underline;
}

main{
    margin: 3rem 10rem;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 10rem;
}

.title{
    padding-bottom: 2rem;
}

.article_section_1{
    background-color: var(--cor-azul);
    margin-bottom: 5rem;

    color: whitesmoke;
}

.text_article {
    padding: 2rem;
}

h4 {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.img_article {
    width: 100%;
    height: 100%;
}

#a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.div_section_2{
    background-color: var(--cor-azul-escuro);

    display: flex;
}

.text_section_2{
    color: whitesmoke;
    padding: 1rem;
}

.img_section_2{
    width: 55%;
    height: 100%;
}

.section_aside {
    border: 0.5rem solid var(--cor-roxo-claro);
    padding: 2rem;
    margin-bottom: 2rem;
}

.section_aside h1{
    text-align: center;
    padding-bottom: 0.4rem;
}

.section_aside p {
    text-align: center;
    padding-bottom: 0.4rem;
}

footer {
    background-color: var(--cor-roxo-claro);
    text-align: center;
    padding: 3rem 0;
}

#logo_footer{
    height: 10rem;
}